__pycache__/*
cache/*
face_detection/Face-Detection---UAV--1/*
face_detection/Face-Detection---UAV--2/*
face_detection/Face-Detection---UAV--4/*
face_detection/Face-Detection---UAV--5/*
face_detection/Face-Detection---UAV--6/*
face_detection/Face-Detection---UAV--7/*


face_detection/yolov8n.pt
face_detection/yolov8x.pt
ros_ws/build/
ros_ws/install/
ros_ws/log/
ros_ws/cache/
tello-ws/cache/

face_detection/runs/detect/train/*
face_detection/runs/detect/train2/*
face_detection/runs/detect/train3/*
face_detection/runs/detect/train4/*
face_detection/runs/detect/train5/*
face_detection/runs/detect/train6/*
face_detection/runs/detect/train7/*
face_detection/runs/detect/train8/*
face_detection/runs/detect/train9/*
face_detection/runs/detect/train10/*

!face_detection/runs/detect/train10/weights/best.pt
ros_ws/cache/95AAEC4D.json
ros_ws/cache/836FD119.json
tello-ws/build/.built_by
tello-ws/build/COLCON_IGNORE
tello-ws/build/tello/ament_cmake_symlink_install_targets_0_.cmake
tello-ws/build/*
tello-ws/install/*
tello-ws/log/*
